.jumbotron {
    padding: 2rem;
    text-align: center;
    background-color: #eee;
  }

  .jumbotron h1 {
    margin-bottom: 0.5rem;
  }

  .jumbotron p {
    margin-top: 0;
  }
  .jumbotron {
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .jumbotron:hover {
    background-color: #eee;
    color: #333;
  }
  .jumbotron.animate {
    transform: translateY(50px);
    opacity: 1;
    transition: transform 0.5s, opacity 0.5s;
  }